// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
    text-align:center;
}
.todo_lists{
    text-align:center;
}
.list_row{
    background: rgb(96, 154, 161);
    margin-top:10px;
    padding:10px;
}
.items{
    background: #918383a2;
    opacity:0.3; 
}
.table-sm:hover{
    background: #CBDF90;
    border: 0;
}
a{
    color:  #000;
}
.item-icons{
    color: darkblue;
}

.complete{
    opacity: 0.3;
}
.table_container{
    border: 3px solid #524848a8;
    border-radius: 10px;
}
.fields{
    background:rgb(131, 184, 235);
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
}
textarea[id = todo_list_description]{  
    resize: none;
}
.actions{
    text-align:center;
}
.back-link:hover{
    text-decoration: none;
    color: rgb(145, 190, 237);
}
.back-link{
    color:rgb(131, 184, 235);
}
.todo_items{
    width:40px;

}
.list_col{
    width: 40px;
}

