// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
    text-align:center;
}
.todo_lists{
    text-align:center;
}
.list_background{
    background:#4D7C8A;
    border-radius: 5px;
    margin-top:10px;
    padding:10px;
}
.items{
    margin-left:100px;
    border: 0;
    background: #374B4A;
    border-color:  #374B4A;
}
.items:hover{
    background: #4D7C8A;
}

